html, body{
  font-family: Helvetica, Sans-Serif;
  height: 100%;
  margin: 0;
}

.container{
  width: 80%;
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  position: relative;
}

.home .container{
  background: url("https://resoht.github.io/PollTree/bg_index.jpg") no-repeat center center;
  background-size: cover;
}

h1{
  font-size: 40px;
  color: #293ca6;
}

h2{
  font-size: 24px;
  color: #293ca6;
  text-align: center;
  font-weight: bold;
}

h3{
  font-size: 18px;
  color: #555555;
}

h4{
  font-size: 14px;
  text-align: center;
  margin-top:-20px;
  text-transform: uppercase;
}

h5{
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 10px;
}

h6{
  font-size: 20px;
  font-weight: normal;
  margin: 15px 0 35px 0;
}

.text-decoration-none{
  text-decoration: none;
}

.text-blue{
  color: #293ca6;
}

.bold{
  font-weight: bold;
}

.w-100{
  width: 100%;
}

.w-94{
  width: 94%;
}

.pointer{
  cursor: pointer;
}

.tl-align{
  text-align: left;
}

.tr-align{
  text-align: right;
}

.tc-align{
  text-align: center;
}

.mt-10{
  margin-top: 10px;
}

.mb-0{
  margin-bottom: 0px !important;
}

.pb-0{
  padding-bottom: 0px !important;
}

.flex-1{
  flex: 1 !important;
}

.flex-2{
  flex: 2 !important;
}

.position-absolute{
  position: absolute;
}

.position-relative{
  position: relative !important;
}

.shadow-none {
  box-shadow: none !important;
}

.logo{
  float: left;
  width: 200px;
  height: auto;
}

header{
  padding-top: 20px;
  padding-bottom: 20px;
}

footer{
  font-size: 12px;
  color: #555555;
  bottom: 0;
  right: 0;
  position: absolute;
}

/* Buttons */
.button{
  font-family: Helvetica, Sans-Serif;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  box-shadow: 0px 5px 0 rgba(0, 0, 0, 0.4);
  display: inline-block;
  border: none;
  text-align: center;
}

.orange{
  background-color: #ff8400;
}

.blue{
  background-color: #293ca6;
}

.full-box{
  width: 100%;
}

/* End Buttons */

/* Register box */
.register-box{
  box-sizing: border-box;
  height: 385px;
  background-color: rgb(255, 255, 255, 0.5);
  text-align: center;
}

.register-desc{
  display: inline-block;
  text-align: left;
}

.btn-register-box{
  display: flex;
  justify-content: center;
  column-gap: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-register-box .button{
  width: 20%;
  font-size: 18px;
  padding: 20px;
}
/* End Register box */

/* Navigation */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.triangle-down{
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #293ca6;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

.main-navi{
  float: right;
  font-size: 14px;
}

.main-navi a{
  text-decoration: none;
  color: #293ca6;
}

.main-navi li{
  list-style: none;
}

.main-navi .dropdown ul{
  margin: 0;
  padding: 0;
}

.dropdown .dropdown-menu{
  padding: 14px 16px;
}

.dropdown:hover, dropdown.menu{
  background-color: rgba(41,60,166,0.15);
}

.dropdown .dropdown-content{
  display: none;
  background-color: #dfe2f2;
  position: absolute;
  list-style: none;
  min-width: 130px;
  right: 0;
}

.dropdown-content li a{
  padding: 10px 15px;
  display: block;
}

.dropdown-content a:hover{
  background-color: rgba(41,60,166,0.40);
}

.dropdown:hover .dropdown-content{
  display: block;
}
/* End Navigation */

/* Register Login */
.register-login{
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  font-family: Helvetica, Sans-Serif;
}

.register-login
input
{
  font-family: Helvetica, Sans-Serif;
  font-size: 18px;
  padding: 10px;
  color: #555555;
  margin-bottom: 15px;
  border-radius: 3px;
  outline: none;
  border: 1px solid;
}

.register-login
input:focus,
{
  border: 1px solid #293ca6;
  box-shadow: inset 2px 2px 2px rgba(41,60,166,0.15);
  outline: none;
}

.register-login
input[type=submit]{
  color: #ffffff;
  border: none;
  font-size: 18px;
  padding: 20px;
}

.register-login .form-row {
  display: flex;
  padding-bottom: 10px;
}

.register-login .form-row label{
  flex: 1;
}

.register-login
input
{
  flex: 2;
}

.form-popup{
  width: 30%;
  background-color: #ffffff;
  border: 1px solid #a8a8a8;
  z-index: 1;
  border-radius: 3px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px 50px 35px 50px;
}

.hide{
  display: none;
}

.show{
  display: block;
}

.sysresp-error{
  position: absolute;
  box-sizing: border-box;
  width: 80%;
  top: 20px;
  background-color: rgba(255, 0, 0, 0.2);
  padding: 8px;
}

.border-error{
  color: #dc3545 !important;
}

.invalid-input{
  color: #dc3545;
  position: relative;
  left:31.5%;
  margin-top: -20px;
  margin-bottom: 10px;
  width: 68%;
}

/* End Register Login */

/* Poll Gallery Table */
table{
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  font-size: 16px;
}

table th{
  background-color: #eeeeee;
  font-weight: normal;
}

table th, table td{
  border: 1px solid #a8a8a8;
  padding: 6px;
}

.col-poll-title{
  width: 60%;
  text-align: left;
}

.col-questions, .col-end-date{
  width: 12%;
}

.col-action{
  width: 16%;
}

table.poll-gallery tr :nth-child(2),
table.poll-gallery tr :nth-child(3),
table.poll-gallery tr :nth-child(4){
  text-align: center;
}

table tbody td a{
  text-decoration: none;
}

.btn-prev-next{
  display: flex;
  justify-content: center;
  column-gap: 5px;
  padding-top: 20px;
  padding-bottom: 20px;

}

.btn-prev-next .button{
  width: 15%;
  padding: 15px;
  font-size: 16px;
}

/* End Poll Gallery Table */

/* Create Poll Form */
.create-poll{
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  font-family: Helvetica, Sans-Serif;
  padding-bottom: 50px;
}

.create-poll
input,
select,
textarea{
  font-family: Helvetica, Sans-Serif;
  font-size: 18px;
  padding: 10px;
  color: #555555;
  margin-bottom: 15px;
  border-radius: 3px;
  outline: none;
  border: 1px solid;
}

.create-poll
input[type="file"]{
  border: none;
}

.create-poll
input[type="text"]:focus,
input[type="date"]:focus,
select:focus,
textarea:focus{
  border: 1px solid #293ca6;
  box-shadow: inset 2px 2px 2px rgba(41,60,166,0.15);
  outline: none;
}

.file-upload{
  position: relative;
  left: 31%;
  width: 65.8%;
  font-size: 13px !important;
  border-bottom: 1px solid #cccccc !important;
}

.create-poll
input[type=submit]{
  color: #ffffff;
  border: none;
  font-size: 16px;
  padding: 15px;
}

.create-poll
input[type=submit]:focus,
input[type=submit]:hover{
  background-color: #243593;
}

.create-poll .help-text{
  font-size: 12px;
  color: #aaaaaa;
}

.create-poll .form-row {
  display: flex;
  padding-bottom: 10px;
}

/*
.create-poll .form-row label{
  flex: 1;
}

.create-poll
textarea,
input,
select,
.form-checkbox
{
  flex: 2;
}
*/

.divider-line{
  border-top: 1px #cccccc solid;
  padding-top: 25px;
}

.btn-add-delete{
  right: 0;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: bold;
}

/* End Create Poll Form */

/* Vote & Poll Result*/
table.poll-table tr :nth-child(1){
  vertical-align: middle;
}

table.poll-table tr :nth-child(2),
table.poll-table tr :nth-child(3){
  vertical-align: text-top;
}

table.vote.poll-table tr :nth-child(2),
table.vote.poll-table tr :nth-child(3){
  text-align: center;
}

table.result.poll-table tr :nth-child(2),
table.result.poll-table tr :nth-child(3){
  text-align: left;
}

.btn-vote{
  display: flex;
  justify-content: center;
  column-gap: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-vote .button{
  width: 30%;
  padding: 15px;
  font-size: 16px;
}

.comment-section{
  padding-bottom: 50px;
}

.comment-section .comment-row{
  display: flex;
  margin: 15px 0;
}

.comment-row .username{
  font-weight: bold;
}

.comment-section
textarea,
input{
  font-family: Helvetica, Sans-Serif;
  padding: 5px;
  color: #555555;
  border-radius: 3px;
  outline: none;
  position: relative;
  border: 1px solid;
}

.comment-section
textarea:focus,
input[type="text"]:focus{
  border: 1px solid #293ca6;
  box-shadow: inset 2px 2px 2px rgba(41, 60, 166, 0.15);
}

.comment-section
input[type=submit]{
  display: block;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ff8400;
  padding: 15px 45px;
  border-radius: 4px;
  box-shadow: 0px 5px 0 rgba(0, 0, 0, 0.4);
  border:none;
  position: absolute;
}

.col{
  float: left;
}

.col-md-3{
  width: 16.662%;
}

.col-md-9{
  width: 83.332%;
}

.btn-add-comment{
  bottom: 30px;
  left: 16.662%;
  font-size: 16px;
}

.participant-number{
  text-align: center;
  font-size: 20px;
  padding: 15px 0;
}

/* End Vote & Poll Result */






